# EJERCICIOS PYTHON BASICO 2:  
## Tipos y conversión de tipos  

### Ejercicio 1  
 1 Crea dos variables numericas: un int y un float  
 2 Comprueba sus tipos

In [23]:
var = 1
var2 = 3.59
print (type(var))
print (type (var2))

<class 'int'>
<class 'float'>

3 Sumalas en otra nueva

In [47]:
var_sum = print(var + var2)

NameError: name 'var' is not defined

4 ¿De qué tipo es la nueva variable?

In [25]:
print(type(var_sum)) # no sé porqué no sale tipo float!!!

<class 'NoneType'>

In [28]:
del var
del var2
print (type(var))
print (type(var2))

NameError: name 'var' is not defined

### Ejercicio 2

Escribe un programa para pasar de grados a radianes. Hay que usar `input`. Recuerda que la conversión se realiza mediante

radianes = grados*(pi/180)

In [29]:
# importar biblioteca math
import math

In [37]:
# establecer el input
grados = float(input("indica cuántos grados hay:"))

indica cuántos grados hay: 180

In [39]:
# aplicar la conversión
radianes = grados * (math.pi/180)

In [41]:
# obtener resultado
print (radianes)
round (radianes, 4)

3.141592653589793

3.1416

### Ejercicio 3

Escribe un programa que calcule el area de un paralelogramo (base x altura). También con `input`

In [48]:
# establecer los input
base = float (input ("indica la base"))
altura = float (input ("indica la altura"))

indica la base 20
indica la altura 10

In [49]:
# indicar formula
area = base * altura

In [52]:
# presentar resultado
print (area)
print ("el area de este paralelogramo con una base", base , "y con una altura", altura, "es:",area)

200.0
el area de este paralelogramo con una base 20.0 y con una altura 10.0 es: 200.0

### Ejercicio 4

Escribe un programa que calcule el area de un paralelogramo (base x altura). También con `input`. En este caso debe ser capaz de admitir valores reales, con decimales, para base y altura en español. (PISTA: Recuerda que tendrás que hacer uso del método replace)

In [53]:
# establecer los input
base = (input ("indica la base"))
altura = (input ("indica la altura"))

indica la base 20,5
indica la altura 10,5

In [54]:
# indicar formula y remplazar valores a decimales
area = float(base.replace (",","."))* float(altura.replace (",","."))

In [55]:
# presentar resultado
print (area)
print ("el area de este paralelogramo con una base", base , "y con una altura", altura, "es:",area)

215.25
el area de este paralelogramo con una base 20,5 y con una altura 10,5 es: 215.25

### Ejercicio 5

Complete el siguiente código para solicitar al usuario su nombre y su edad. Luego, calcule en qué año nació el usuario y muestre el resultado.

In [58]:
nombre = str(input( "indica tu nombre"))
edad = int(input("¿Cuál es tu edad?"))
año_actual = 2026 #año de mi bootcamp
año_de_nacimiento = (año_actual - edad)
print ( nombre , "has nacido en el año" , año_de_nacimiento)

indica tu nombre Juancar
¿Cuál es tu edad? 48

Juancar has nacido en el año 1978