## Ejercicio 1
Para este ejercicio vamos a poner en práctica [las funciones built in](https://docs.python.org/3/library/functions.html).

1. Calcula el máximo de la lista: [4, 6, 8, -1]
2. Suma todos los elementos de la lista anterior
3. Redondea este float a 3 dígitos decimales: 63.451256965
4. Valor absoluto de: -74

In [3]:
lista = [4,6,8,-1]
max (lista)

8

In [4]:
sum (lista)

17

In [7]:
valor = 63.451256965
float(round(valor,3))

63.451

In [8]:
print(type(valor))

<class 'float'>

In [9]:
valor_abs = -74
abs(valor_abs)

74

## Ejercicio 2
Para el siguiente string se pide imprimir por pantalla los siguientes casos

    "En un lugar de la Mancha, de cuyo nombre no quiero acordarme."

1. Pásalo todo a mayúsculas
2. Pásalo todo a minúsculas
3. Solo la primera letra de cada palabra en mayúscula, el resto en minúscula
4. Crea una lista dividiéndolo por sus espacios
5. Sustituye las comas `,` por puntos y comas `;`
6. Elimina las `a` minúsculas

In [12]:
texto = "En un lugar de la Mancha, de cuyo nombre no quiero acordarme."
texto1 = print(texto.upper())

EN UN LUGAR DE LA MANCHA, DE CUYO NOMBRE NO QUIERO ACORDARME.

In [13]:
texto2 = print(texto.lower())

en un lugar de la mancha, de cuyo nombre no quiero acordarme.

In [15]:
texto3 = print(texto.title())

En Un Lugar De La Mancha, De Cuyo Nombre No Quiero Acordarme.

In [16]:
texto4 = print(texto.split(" "))

['En', 'un', 'lugar', 'de', 'la', 'Mancha,', 'de', 'cuyo', 'nombre', 'no', 'quiero', 'acordarme.']

In [21]:
print(texto.replace(",", ";"))
print(texto4.replace(",", ";")) # se podría hacer est cambio? porque me da error?

En un lugar de la Mancha; de cuyo nombre no quiero acordarme.

AttributeError: 'NoneType' object has no attribute 'replace'

In [25]:
texto6 = print(texto.replace("a", ""))

En un lugr de l Mnch, de cuyo nombre no quiero cordrme.

## Ejercicio 3
1. Crea una lista con 3 elementos numéricos
2. Añade un cuarto elemento
3. Calcula la suma de todos
4. Elimina el segundo elemento de la lista
5. Añade otro elemento en la posicion 3 de la lista
6. Crea otra lista con 4 elementos y concaténala a la que ya tenías.
7. Ordena la lista de menor a mayor.
8. BONUS: Ordena la lista de mayor a menor.  
(*PISTA: Para hacer 8, tendrás que buscar en la información del método...*)  
  
  
NOTA: Pinta por pantalla el resultado de cada paso.

In [72]:
list = [4,65,47] #crea una lista de 3 elementos numéricos
print(list)

[4, 65, 47]

In [73]:
list.append(50) #añado un cuarto elemento
print(list)

[4, 65, 47, 50]

In [79]:
total = sum(list) #cálculo sumatoria de todos los elementos de la lista
print(total)

166

In [81]:
list.pop(1) #elimino posición 2 de la lista , he ejecutado dos veces y se ha eliminado posición 3 también
print(list)

[4, 50]

In [82]:
list.insert(1,47)
print(list)

[4, 47, 50]

In [84]:
list.insert(3, 100 #añado valor 100 en última posición pero como uso -1 me lo pone en la posición 2, por lo que modifico y modifico a insertarlo en posición 3 y tampoco me va
print(list)

[4, 47, 100, 100, 50]

In [90]:
print(list)

[4, 47]

In [91]:
list.append(50 # elimino segundo elemento de la lista inicial
print(list)

[4, 47, 50]

In [92]:
list.insert(3, 10) #añado un valor en la posición 3 de la lista
print(list)

[4, 47, 50, 10]

In [93]:
list2 = ["esto" , "es" , "complicado"] #creación de segunda lista
print(list2)

['esto', 'es', 'complicado']

In [94]:
concat = list +list2 #concatenar elementos de dos listas
print(concat)

[4, 47, 50, 10, 'esto', 'es', 'complicado']

In [95]:
list_ordenada = concat.sort()
print(list_ordenada)

TypeError: '<' not supported between instances of 'str' and 'int'

In [98]:
list3 = [5,78,15,23] #rehecho el ejercicio porque debo asignar valores numéricos
print(list3)

[5, 78, 15, 23]

In [99]:
concat2 = list + list3
print(concat2)

[4, 47, 50, 10, 5, 78, 15, 23]

In [100]:
concat2.sort() #ordeno la lista de menor a mayor
print(concat2)

[4, 5, 10, 15, 23, 47, 50, 78]

In [101]:
concat2.reverse() # ordeno la lista de mayor a menor
print(concat2)

[78, 50, 47, 23, 15, 10, 5, 4]